html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  
}

body {
  font-family: "Noto Sans JP";
}
* {
  box-sizing: border-box;
}
/*First Section*/
/*Create a responsive Carousel*/

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


body {
  height: 100%;
}
.ml6 {
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  color: white;
}

.ml6 .text-wrapper {
  
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
  text-align: center;
 
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
  font-weight: 700;
  color: white;
}
.imgg2{
  width: 30%; 
  height: 30%; 
  display: block;
 
}
h3{
  color:black;
  font-size: 18px;
  font-weight: 700;
}
.text{
  color: white
}
.img3 {
  margin-left: 50px;
}
h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.prof{
  color: white;
  margin-left: 20px;
}
.ptag {
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
  font-weight: 400;
  color: white;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 gray;
  transition: 0.3s;
  margin-top: 30px;
}
.imgg{
  width: 10%; 
  height: 10%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 10px 16px;
}
.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: auto;
  position: relative;
  background-color: black;
  border-radius: 4px;
  height: 100%;
}
.slide-container .slide {
  display: none;
  width: 100%;
}

.slide-container .slide.fade {
  animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-container .slide img {
  width: 100%;
}
.slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.slide-container .prev {
  left: 2px;
}

.slide-container .next {
  right: 2px;
}

/*Carousel ends  */

/* Clear floats after the columns */
.column {
  float: left;
  width: 50%;
  height: 139px;
}

.button3 {
  background-color: green; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
.center-ball {
  border: 2px solid white;
  padding: auto;
  margin-top: -10px
}
.button2 {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 40px;
}

.button1 {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 40px;
}

.footer-icon, .call-icon{
  font-size:50px;
  flex-wrap: wrap;
  margin-right:5px;
  color:white;
}

.icon-style {
  color: white;
}

.hobbies-iconify, .contact-iconify {
    font-size:50px;
    flex-wrap: wrap;
    margin-right:5px;
    color:white;
}



